/*
 * Global constants goes here
 */
:root {
    --primary-color: #51dfd3;
    --text-color: white;
    --background-color: #2c2c2c;
}


/*
 * Global CSS goes here
 */
html {
    height: 100%;
}
body {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    height: 100%;
    margin: auto;
    background: var(--background-color);
}
#app {
    color: var(--text-color);
    max-width: 600px;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: left;
}
#app p {
    text-align: justify;
}
.hello {
    color: var(--primary-color);
}
